        
        
        
        {% extends 'core/base_admin.html' %}
        {% load static %}

        {% block title %} Agregar Veterinario {% endblock %}

        {% block img-header %} {% static 'core/assets/veterinario/bg_header_v5.jpg' %} {% endblock %}

        {% block text_header %}
            <h1 class="display-5 fw-bolder text-white mb-2 animate__animated animate__slideInLeft">AGREGAR <span class="title_color">VETERINARIO</span></h1>
            <p class="lead text-white-50 mb-4 animate__animated animate__slideInLeft">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
        {% endblock %}

        {% block contenido %}
        <div class="text-center mb-5">
            <div class="feature bg-contact bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person-plus-fill"></i></div>
        </div>

        {% if 'OK' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Veterinario registrado <strong>satisfactoriamente</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if 'FAIL' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                No se pudo registrar el Veterinario... <strong>Intentalo mas tarde</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <form action="" method="POST" id="Agregar_Participante" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Campo Codigo Integrante -->
            <div class="form-floating mb-3">
                {{form.idVeterinario}}
                <label class="form-label" for="input-codigo">Codigo Veterinario</label>
                {{form.idVeterinario.errors}}
            </div>

            <!-- Campo Nombre -->
            <div class="form-floating mb-3">
                {{form.nombre}}
                <label class="form-label" for="nombre">Nombre Completo</label>
                {{form.nombre.errors}}
            </div>

            <!-- Campo Descripcion -->
            <div class="form-floating mb-3">
                {{form.descripcion}}
                <label class="form-label" for="nombre">Description</label>
                {{form.descripcion.errors}}
            </div>

            <!-- Campo Imangen -->
            <div class="form mb-3">
                <label class="form-label" for="nombre">Imagen</label>
                {{form.image_veterinario}}
                {{form.image_veterinario.errors}}
            </div>

            <!-- Campo Link Facebook -->
            <div class="form-floating mb-3">
                {{form.link_facebook}}
                <label class="form-label" for="nombre"><i class="bi bi-facebook"></i> Link Facebook</label>
                {{form.link_facebook.errors}}
            </div>

            <!-- Campo Link Instagram -->
            <div class="form-floating mb-3">
                {{form.link_instagram}}
                <label class="form-label" for="nombre"><i class="bi bi-instagram"></i> Link Instagram</label>
                {{form.link_instagram.errors}}
            </div>

            <!-- Campo Link Whatsapp -->
            <div class="form-floating mb-3">
                {{form.link_whatsapp}}
                <label class="form-label" for="nombre"><i class="bi bi-whatsapp"></i> Link Whatsapp</label>
                {{form.link_whatsapp.errors}}
            </div>

            <!-- Campo Link Twitter -->
            <div class="form-floating mb-5">
                {{form.link_twitter}}
                <label class="form-label" for="nombre"><i class="bi bi-twitter"></i> Link Twitter</label>
                {{form.link_twitter.errors}}
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-contact btn-lg" id="enviar" type="submit">Agregar</button>
                <a href="{% url 'socios' %}" class="btn btn-contact btn-lg" id="enviar" type="submit">Volver</a>
            </div>
        </form>
    {% endblock %}