        
        
        
        {% extends 'core/base_user.html' %}
        {% load static %}

        {% block title %} Pet Shower {% endblock %}

        {% block img-header %} {% static 'core/assets/header/bg_header_v1.jpg' %} {% endblock %}

        {% block text_header %}
            <h1 class="display-5 fw-bolder text-white mb-2 animate__animated animate__slideInLeft">CUIDADOS <span class="title_color">MASCOTAS</span></h1>
            <p class="lead text-white-50 mb-4 animate__animated animate__slideInLeft">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
        {% endblock %}

        {% block contenido %}
            {% for project in projects %}
                <!-- Card-1 -->
                <div class="col-lg-4 mb-5 mb-lg-0 animate__animated animate__slideInLeft">
                    <div class="feature bg-gradient text-white rounded-3 mb-3"><img src="{{project.img.url}}" alt="Productos_Usar" /></div>
                    <br>
                    <h6 class="text-muted fst-italic">{{project.create}}</h6>
                    <h2 class="h4 fw-bolder">{{project.title}}</h2>
                    <p>{{project.description}}</p>
                    {% if project.link %}
                        <a class="text-decoration-none btn-bjd" href="{{project.link_user}}" target="_blank">
                        Ver mas
                        <i class="bi bi-arrow-right"></i>
                        </a>
                    {% endif %}
                </div>
                <!-- End Card-1 -->
            {%endfor%}
        {% endblock %}

        {% block gallery %}
            <section class="bg-light py-5 border-bottom">
                <div class="container px-5 my-5 gallery-container">
                    <div class="text-center mb-5 content_gallery">
                        <h1 class="fw-bolder"> <svg xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" fill="currentColor" class="bi bi-image-fill" viewBox="0 0 16 16">
                            <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
                        </svg> Galeria Pet Shawer</h1>
                        <p class="lead mb-0">Nuestos amigos peludos tambien disfrutan del baño :)</p>
                    </div>
                    <div class="row gx-5 justify-content-center gallery-card">
                        
                        {% for Gallery in galleries %}
                            <div class="col-lg-6 col-xl-4">
                                <div class="mb-5 mb-xl-0">
                                    <a href="{{Gallery.image_galery.url}}" data-lightbox="roadtrip">
                                        <img src="{{Gallery.image_galery.url}}" class="img-fluid card" alt="Mascota_1">
                                    </a>
                                    <h6 class="text-muted fst-italic">Publicada el {{Gallery.create}}</h6>
                                </div>
                            </div>
                        {%endfor%}
                    </div>
                </div>
            </section>
        {% endblock %}

        

