
{% extends 'core/base.html' %}
{% load static %}

{% block title %} Pet Shower {% endblock %}

{% block img-header %} {% static 'core/assets/user/bg-masthead.jpg' %} {% endblock %}

{% block text_header %}
<h1 class="display-5 fw-bolder text-white mb-2 animate__animated animate__slideInLeft">CUIDADOS <span class="title_color">MASCOTAS</span></h1>
<p class="lead text-white-50 mb-4 animate__animated animate__slideInLeft">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
{% endblock %}


